## Part I: Exploratory analysis (3 points)

Read the dataset correctly using pandas, using an appropriate column as index (1 point)

Compute the percentage of survivors out of total number of passengers...

...and the percentage of men and women out of total number of passengers (0.5 points)

Compute the percentage of survivors by sex (i.e. the percentage of male passengers that survived and female passengers that survived)...

...and the sex distribution of survivors (i.e. percentage of survivors that were men and percentage of survivors that were women) (0.5 points)

Display in a 2 x 2 DataFrame the probability of being male/female and surviving/not surviving (0.5 points)

One possible option:

|            | **Survived**      | **Not survived**      |
|------------|-------------------|-----------------------|
| **Male**   | Male & Survived   | Male & Not survived   |
| **Female** | Female & Survived | Female & Not survived |

Notice that the sum of all values in the table above should be 1 (or 100 %).

Display in a DataFrame the probability of survival/not survival of all combinations of sex and class (0.5 points)

One possible option:

|            |   | **Survived**              | **Not survived** |
|------------|---|---------------------------|------------------|
| **Male**   | 1 | Male & Survived & Class 1 | ...              |
|            | 2 | Male & Survived & Class 2 | ...              |
|            | 3 | Male & Survived & Class 3 | ...              |
| **Female** | 1 | ...                       | ...              |
|            | 2 | ...                       | ...              |
|            | 3 | ...                       | ...              |

Notice that the sum of all values in the table above should be 1 (or 100 %).

## Part II: More insights on the data (3 points)

Present 3 insights about the dataset, each of them relating at least 3 different variables, and support them by code and numbers. Possible examples:

- "**Men** aged **less than 18** were more/less likely to **survive** than the average passenger" (Sex, Age, Survival)
- "**Women** with **no siblings or spouses** paid on average a cheaper/pricier **ticket** than the average woman" (Sex, SibSp, Fare)
- "**Men** with a **title other than Mr.** were more/less likely to have a known (i.e. non-missing) **cabin** than the average man" (Sex, Name, Cabin)

(Using these exact examples is valid, but awards fewer points than proposing original insights)

_Hint: If you want to work with lists and dictionaries rather than pandas objects, you can do_

```python
recs = df.to_dict(orient="records")
```